body {
    font-family: 'Poppins', sans-serif;
    background: #0f0c29;
    color: white;
    margin: 0;
    padding: 0;
}
/* HOME-PAGE */
.main-bg{
    height: 100vh;
    width: auto;
    background-image: url('Assets/bg-img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.main-bg .cta {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(15, 12, 41, 0.7);
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}
.main-bg .cta a{
    text-decoration: none;
    color: #fff;
}
.main-bg button:hover {
    background: rgba(48, 43, 99, 0.7);
    transform: translate(-50%, -50%) scale(1.05);
    border: 1px solid white;
}
.head{
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
}